<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>Teste Eleicao - cadastro de Cargo</title>
</head>
<body>
	<header>
		<!-- Inicio do menu -->
		<nav
			class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
			<a class=" navbar-brand" href="#">Teste Eleicao</a>

			<div class="container collapse navbar-collapse"
				id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item "><a class="nav-link" href="/">Inicio</a></li>
					<li class="nav-item "><a class="nav-link"
						href="/cadastroEleicao">Eleicao </span></a></li>
					<li class="nav-item active"><a class="nav-link"
						href="/cadastroCargo">Cargo <span class="sr-only">(current)</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastroCandidato">Candidato</a></li>
					<li class="nav-item"><a class="nav-link" href="/areaDoEleitor">Area
							do Eleitor</a></li>
					<li class="nav-item"><a class="nav-link" href="/relatorios">Relatorios</a></li>
				</ul>
			</div>
		</nav>
		<!-- Fim do menu -->
	</header>
	<br />

	<div class="container  border border-secondary">
		<br />
		<th:block th:include="mensagemValidacao"></th:block>
		<form th:object="${eleitor}" th:action="@{/areaDoEleitor/proximo}"
			method="post">
			<input type="hidden" th:field="*{id}" />
			<div class="row">
				<div class="input-field col s3">
					<label for="valor">Nome:</label> <input type="text" step="any"
						th:field="*{nome}" required />

				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<label for="valor">CPF:</label> <input type="text" step="any"
						th:field="*{cpf}" name="cpf" onkeydown="javascript: fMasc( this, mCPF );"  maxlength="14" required />

				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<label for="nome">Eleicao:</label> <select th:field="*{eleicao}"
						required>
						<option th:each="item : ${listaEleicao}" th:value="${item.id}"
							th:text="${item.nome}" />
					</select>
				</div>
			</div>

			<button class="btn btn-dark" type="submit">Proximo >></button>

		</form>
		<br />
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

	<script>
		function fMasc(objeto, mascara) {
			obj = objeto
			masc = mascara
			setTimeout("fMascEx()", 1)
		}
		
		function fMascEx() {
			obj.value = masc(obj.value)
		}

		function mCPF(cpf) {
			cpf = cpf.replace(/\D/g, "")
			cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
			cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
			cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2")
			return cpf
		}
	</script>
</body>
</html>