<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>Teste Eleicao - Relatorios</title>
</head>
<body>
	<header>
		<!-- Inicio do menu -->
		<nav
			class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
			<a class=" navbar-brand" href="#">Teste Eleicao</a>

			<div class="container collapse navbar-collapse"
				id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item "><a class="nav-link" href="/">Inicio</a></li>
					<li class="nav-item active"><a class="nav-link"
						href="/cadastroEleicao">Eleicao <span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="/cadastroCargo">Cargo</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastroCandidato">Candidato</a></li>
					<li class="nav-item"><a class="nav-link" href="/areaDoEleitor">Area
							do Eleitor</a></li>
					<li class="nav-item"><a class="nav-link" href="/relatorios">Relatorios</a></li>
				</ul>
			</div>
		</nav>
		<!-- Fim do menu -->
	</header>
	<br />

	<div class="container  border border-secondary">
		<br />
		<div class="container">
			<a href="/relatorioParcial" class="btn btn-dark"
				style="width: 200px;"> Eleicoes em andamento </a>
		</div>
		<br/>
		<div class="container">
			<a href="/relatorioFinal" class="btn btn-dark"
				style="width: 200px;"> Eleicoes finalizadas </a>
		</div>
		

		<br />
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
</body>
</html>